<div id="usernav">
{%- if request.user.is_authenticated() -%}
    {% if settings.USE_ASKBOT_LOGIN_SYSTEM %}
         <a href="{{ settings.LOGOUT_URL }}?next={{ settings.LOGOUT_REDIRECT_URL }}">{% trans %}sign out{% endtrans %}</a>
    {% endif %}
    {% if request.user.is_administrator() %}
        <a class="settings" href="{% url site_settings %}">{% trans %}settings{% endtrans %}</a>
    {% endif %}
    <a href="{{ request.user.get_absolute_url() }}">{{ request.user.username|escape }}</a> 
{% elif settings.USE_ASKBOT_LOGIN_SYSTEM and not on_login_page %}
    {% include "widgets/login_link.html" %}
{% endif %}
</div>
